import java.util.Scanner;

public class ders1 {
    public static void main(String[] args) {
        int k;
        Scanner input=new Scanner(System.in);
        System.out.print("SAYI GİRİNİZ:");
        k=input.nextInt();
        for (int i=1;i<=k;i++) {
            //if(i%12==0) seklindede olur
            if ((i%3==0) &&(i%4==0)) {
                System.out.print(i+".");
        }

    }
    }}
